<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit your post</title>
</head>
<body>
    <h1>Quora</h1>
    <div class="postbox">
        <h2>Post created by @<span class="user"><%=post.username%></span>.</h2>
        <h3>Post ID: <%=post.id%></h3>
        <h3 class="title"><%=post.title%></h3>
        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <label for="title">Update Title:</label><br>
            <textarea id="title" name="title" rows="5" cols="35"><%=post.title%></textarea> <br>
            <label for="content">Update Content:</label><br>
            <textarea id="content" name="content" rows="10" cols="35"><%=post.content%></textarea><br>
            <button>Update post</button>
        </form>
    </div>
</body>
</html>